.b1{
    background-color: #1F2937;
}
.b2{
    background-color: #1F2937;
}
h1{
    text-shadow:6px 6px #000000;
}
h2{
    text-shadow:3px 3px #000000;
}
.discordcard{
height: 200px;
margin: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}